body{
        background-color: rgb(255, 191, 127);
}

.maincontainer {
    border: 3px;
    border-color: black;
    display: flex;
    
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contador {
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.seleccionar {
    padding: 30px;
    display: grid;
    
}

.seleccionar .select {
    padding: 20px;
}

button {
    margin: 20px;
    padding: 10px;
    
}